.multi-image-gallery {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px; /* Ajustez selon vos besoins */

    .gallery-image {
        // display: none; /* Cache toutes les images par défaut */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease, transform 0.5s ease;
        transform: translateX(100%);
        &.prev {
            transform: translateX(-100%);
            z-index: 0;
        }
        &.active {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }


}


.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider-nav.prev {
    left: 10px;
    z-index: 100;
}

.slider-nav.next {
    right: 10px;
    z-index: 101;
}

